<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    {{ page_title }}{% if page_title == '' %}{{ shop.name }}{% endif %}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="icon" type="image/png" href="{{ 'magic-masala.png' | asset_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">

  {{ content_for_header }}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>
<body class="template-{{ request.page_type }}">
  <a class="skip-to-content-link visually-hidden" href="#MainContent">Skip to content</a>

  {% section 'header' %}

  <main id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
